.HeaderBar {}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #448aff !important;;
}

.MuiAppBar-root .MuiButton-root {
    color: white !important;
}

.mainNav a {
    color: white !important;
    text-decoration: none;
}