.NFooter {
  overflow: hidden;
}

.bottom-footer {
  width: 100%;
}

.emailLink {
  text-decoration: none;
  color: #9c27b0;
}

footer {
  background: #292f35;
}
footer .footer-title {
  position: relative;
  margin-bottom: 2rem;
}
footer .footer-title:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 2px;
  background: #9c27b0;
  top: 30px;
}
footer .bottom-footer {
  background-color: #181d21;
  color: #9c27b0;
}
footer .quick-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .quick-links a {
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.3rem 0;
  color: #9c27b0 !important;
}
footer .quick-links a:hover {
  color: #a1a8ae !important;
}

.text-muted {
  color: #5a6268 !important;
}
